/2016-11-runtime/solutions/Java/Ex1_MapAndScene/nbproject/private/
/2016-11-runtime/solutions/Java/Ex1_MapAndScene/build/
/2016-11-runtime/solutions/Java/Ex1_MapAndScene/dist/
/2016-11-runtime/solutions/Java/Ex2_ZoomButtons/build/
/2016-11-runtime/solutions/Java/Ex2_ZoomButtons/dist/
/2016-11-runtime/solutions/Java/Ex2_ZoomButtons/nbproject/private/
/2016-11-runtime/solutions/Java/Ex3_LocalFeatureLayer/build/
/2016-11-runtime/solutions/Java/Ex3_LocalFeatureLayer/dist/
/2016-11-runtime/solutions/Java/Ex3_LocalFeatureLayer/nbproject/private/
/2016-11-runtime/solutions/Java/Ex4_BufferAndQuery/nbproject/private/
/2016-11-runtime/solutions/Java/Ex4_BufferAndQuery/build/
/2016-11-runtime/solutions/Java/Ex4_BufferAndQuery/dist/
/2016-11-runtime/solutions/Java/Ex5_Routing/nbproject/private/
/2016-11-runtime/solutions/Java/Ex5_Routing/dist/
/2016-11-runtime/solutions/Java/Ex5_Routing/build/